.App {
  text-align: center;
  height: 100%;
}

.App--going {
  animation: example 5s ease-out;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App__logo {
  width: 15em;
  height: auto;
  position: absolute;
  bottom: 2em;
  left: 2em;
}

.App--going .App__logo {
  left: 100vw;
  bottom: 100vh;
  transition: 1.25s;
}

@keyframes example {
  0% {
    background-color: #ffec00;
  }
  12.5% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  62.5% {
    background-color: pink;
  }
  75% {
    background-color: red;
  }
  87.5% {
    background-color: greenyellow;
  }
  100% {
    background-color: #ffec00;
  }
}

