.Machine {
  width: 60em;
  margin: 0 auto;
  background-color: #ccc;
  padding: 1.5em;
  border-radius: 1em;
  position: relative;
  min-height: 18em;
}

.Machine--cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}